﻿@page
@model MyIpCat.Pages.IndexModel
@{
    var cat = ViewBag.Cat as MyIpCat.Model.CatPresentation;
}

<div class="pure-u-1">
    <div class="pure-u-1-3"></div>
    <div class="pure-u-1-3">
        <div class="header">
            <h1 class="center-text">IF YOUR IP WAS A CAT IT WOULD BE THIS ONE:</h1>
        </div>

        <div class="content">
            <img src="@cat.url" class="pure-img center-img" width="400" />
            <h2 class="center-text">@cat.name</h2>
            <p class="center-text">@cat.description</p>
            <p class="center-text"><a href="@cat.wikipedia_url">Click here for more information!</a></p>
        </div>

        <div class="footer">
            <p class="center-text">🐱 Made with CatAPI</p>
            <p class="center-text">&copy; 2022 - Alexandra Bergna</p>
        </div>
    </div>

    <div class="pure-u-1-3"></div>
</div>
