﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.center-text {
    text-align: center;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}